/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 25, 2017, 2:40:05 PM
    Author     : Mouad
*/
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height:500px;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      body{
            background-color: #f5f8fa;
      }
      .logo{
          margin-top:10px;
          height:50px;
      }
      .spotify-logo{
          height:45px;
      }
      .w-bg{
          background-color:white;
      }
      #main-content{
          padding-top:10px;
      }
      
      #twitter{
        background-color:white;
        border:1px solid #e6ecf0;
      }
      .user-info{
        padding:9px 12px;
      }
      .tweet{
          border-top:1px solid #e6ecf0;
          padding:12px 12px;
      }
      .tweet p{
          margin-bottom:0;
      }
      .last-tweet{
          border-bottom:1px solid #e6ecf0;
      }
      .infowindow{
          max-width: 200px;
      }
      
